{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

{% if is_granted('ROLE_USER') %}

            Bonjour {{ username }}!
           <a href="{{ path('app_logout') }}">Déconnexion</a>

            {% else %} 
            <p>Erreur 404</p>
        {% endif %}
{% endblock %}
