{% extends 'base.html.twig' %}

{% block title %}Hello QuickAnalysisController!{% endblock %}

{% block body %}
    {# {% for part in url %}
        <div>
            {{ part }}
        </div>
    {% endfor %} #}
    {{url}}
{% endblock %}
