{% extends 'base.html.twig' %}
{% block title %}Analysis Result{% endblock %}

{% block body %}
    <h1>
        note : 100% lul
    </h1>

    <div>
        {% for runner in analysis.runners %}
            <li>
                <span>{{ runner.id }} :</span>
                <pre>{{ runner.output }}</pre>
            </li>
        {% endfor %}
    </div>
{% endblock %}
