{% extends 'base.html.twig' %}
{% block title %}Analysis Result{% endblock %}

{% block body %}
    <h1 class="text-center w-full text-5xl">Analysis Result</h1>

    <div>
        {% for runner in analysis.runners %}
            <runner-component
                    name="{{ runner.contextModule.module.name }}"
                    output="{{ runner.output }}">
            </runner-component>
        {% endfor %}

        <button-component
                raised
                label="Back to Home"
                link="{{ path('home') }}">
        </button-component>
    </div>
{% endblock %}
