{% extends 'base.html.twig' %}
{% block title %}Analysis Result{% endblock %}

{% block body %}
    <h1 class="font-bold text-5xl text-white">Analysis Result</h1>

    <div>
        <row-component dropdown open leftText="Module {{ runner.contextModule.module.name }}" rightText="Résultat">
            {% for runner in analysis.runners %}
                <runner-component
                        name="{{ runner.contextModule.module.name }}"
                        output="{{ runner.output }}">
                </runner-component>
            {% endfor %}
        </row-component>

        <button-component
                raised
                label="Back to Home"
                link="{{ path('home') }}">
        </button-component>
    </div>
{% endblock %}
