<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Symfony! {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="w-4/5 flex flex-col items-center m-auto">
            {% block body %}
            {% endblock %}
        </div>


        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </body>
</html>

