<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Symfony! {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>

